<div class="simplemodal-overlay"></div>
<div id="initial_dialog">
  <div class="content">
    <ul class="buttons">
      <li><%= link_to "Upload File", "#", :class=>"upload", :onclick => "initialDialogSelect('upload');" %></li>
      <li><%= link_to "Draw polygon", "#", :class=>"search_location", :onclick => "initialDialogSelect('search_location');" %></li>
    </ul>
    <div class="description">
      <p class="intro">
        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
      </p>

      <div class="upload" style="display:none;">
        <%= form_for @assesment, :html => {:multipart => true} do |f| %>
            <p>
              Please upload polygons in a <strong>zipped ESRI shapefile</strong> using WGS84 projection.<br />
              Maximum file size is <strong><%= Tenement::MAX_SHP_FILESIZE_MB %>MB</strong>.<br />
              All data uploaded is deleted nightly.
              <span class="fileInput">
                <label for="initial_dialog_upload_replacement">Choose file</label><!--
                --><%= f.file_field :shape, :class => 'file_input', :accept => 'application/zip' %><!--
                --><input type="text" class="replacement" id="initial_dialog_upload_replacement"/><!--
                --><%= f.submit "Analyse", :disable_with => "Uploading..." %>
              </span>
            </p>
        <% end -%>
      </div>

      <p class="search_location" style="display:none;">
        <label for="location">Enter the name of the location you want to assess:</label>
        <input type="text" name="location" id="location"/><input type="submit" value="View on map"/>
      </p>
    </div>
  </div>
  <div class="footer">
    <%= link_to image_tag('logos/UNEPhome.gif'), 'http://www.unep-wcmc.org', :class => 'host' %>
    <ul class="links">
      <li><%= link_to 'about', '#' %></li>
      <li><a href="http://www.proteuspartners.org/">proteus</a></li>
      <li><a href="http://protectedplanet.net/">protectedplanet.net</a></li>
    </ul>
  </div>
</div>

<script type="text/javascript">
    function initialDialogSelect(button) {
        $('#initial_dialog .description>*').hide();
        $('#initial_dialog .description>.' + button).show();
        $('#initial_dialog .buttons li').removeClass('selected');
        $('#initial_dialog .buttons a.' + button).parent('li').addClass('selected');
    }
    $('#initial_dialog .description .search_location input:submit').click(function() {
        // TODO: search and move map to.
        $('#help').show();
        startPolygon();
        $('#map_tools').show();
        $('#initial_dialog').hide();
        $('.simplemodal-overlay').hide();
    });
</script>
