<div class="simplemodal-overlay"></div>
<div id="initial_dialog">
  <div class="content">
    <ul class="buttons">
      <li><%= link_to "Upload File", "#", :class=>"upload", :onclick => "initialDialogSelect('upload');" %></li>
      <li><%= link_to "Draw polygon", "#", :class=>"search_location", :onclick => "initialDialogSelect('search_location');" %></li>
    </ul>
    <div class="description">
      <p class="intro">
        Welcome to myPolygon</p>
        <p> A simple tool for Proteus partners to analyse the coverage of protected areas, corals, mangroves and carbon </p>
      

      <div class="upload" style="display:none;">
        <%= form_for @assesment, :html => {:multipart => true} do |f| %>
          <p>
          Please upload polygons in a <strong>zipped ESRI shapefile</strong> using WGS84 projection.<br />
          Maximum file size is <strong><%= Tenement::MAX_SHP_FILESIZE_MB %>MB</strong>.<br />
          All data uploaded is deleted nightly.
          <span class="fileInput">
            <label id='file_chooser_btn' for='assesment_shape'>Choose file</label>
            <%= f.file_field :shape, :class => 'file_input', :accept => 'application/zip' %>
            <input type="text" class="replacement" id="initial_dialog_upload_replacement"/>
            <%= f.submit "Analyse", :disable_with => "Uploading..." %>
          </span>
          </p>
        <% end -%>
      </div>

      <p class="search_location" style="display:none;">
        <label for="location">Enter the name of the location you want to assess:</label>
        <input type="text" name="location" id="location"/><input type="submit" value="View on map"/>
      </p>
    </div>
  </div>
  <div class="footer">
    <%= link_to image_tag('logos/UNEPhome.gif'), 'http://www.unep-wcmc.org', :class => 'host' %>
    <ul class="links">
      <li><%= link_to 'about', '#' %></li>
      <li><a href="http://www.proteuspartners.org/">proteus</a></li>
      <li><a href="http://protectedplanet.net/">protectedplanet.net</a></li>
    </ul>
  </div>
</div>

<script type="text/javascript">
    var geocoder;
    geocoder = new google.maps.Geocoder();
    function initialDialogSelect(button) {
        $('#initial_dialog .description>*').hide();
        $('#initial_dialog .description>.' + button).show();
        $('#initial_dialog .buttons li').removeClass('selected');
        $('#initial_dialog .buttons a.' + button).parent('li').addClass('selected');
        if(button == "search_location")
          $("#location").focus();
    }
    $("#location").keyup(function(e){
      if(e.keyCode == 13)
        $("#initial_dialog .description .search_location input:submit").click();
    });
    $('#initial_dialog_upload_replacement').click(function(event) {
      // pass focus from label to click, because IE sucks
      event.stopPropagation();
      event.preventDefault();
      $('#assesment_shape').click();
    });
    $('#initial_dialog .description .search_location input:submit').click(function() {
        var address = $("#location").val();
        if(address != ""){
          geocoder.geocode({'address': address}, function(results, status){
            if(status == google.maps.GeocoderStatus.OK) {
              map.setCenter(results[0].geometry.location);
              $('#help').show();
              new Poly();
              $('#map_tools').show();
              $('#initial_dialog').hide();
              $('.simplemodal-overlay').hide();
            }else {
            alert("Your query did not return a valid result. Please enter another location.");
          }
          });
        }else {
            $('#help').show();
            new Poly();
            $('#map_tools').show();
            $('#initial_dialog').hide();
            $('.simplemodal-overlay').hide();
        }
    });
  $("#assesment_shape").change(function(){
    file_name_parts = $(this).val().split('\\');
    $("#initial_dialog_upload_replacement").val(file_name_parts[file_name_parts.length -1]);
  });
</script>
