<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>WDPA Tenement Analysis Tool</title>
  <%= stylesheet_link_tag 'blueprint/screen' , 'blueprint/plugins/buttons/screen',  'tipsy','facebox', 'marine' %>
	<%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.colorize-1.2.0','swfobject', 'cufon-yui', 'titillium','facebox', 'jquery.tipsy','application' %>
</head>
<body>
	
<div class="container">
	<% if flash[:notice] %>
		<div id="flash" class="notice"><%= flash[:notice] %></div>
	<% end -%>
	<h1 style="margin-bottom:0.75em;"><%= link_to image_tag("logo.png"), root_url %></h1>

		<%= yield :map%>	
	<div class="inner_container">

		<div class="content_container">
			<div class="span-16" style="margin-top:1.5em;">
				<%= yield :left%>
			</div>	
			<div class="span-6 last box upload">			
				<%= yield :right%>			
			</div>	
		</div>
		<div style="clear:both">&nbsp;</div>
	</div>
	<div class="span-24">&nbsp;</div>
	<div class="span-6 prepend-18 quiet">
				UNEP-WCMC 2009 <%= image_tag 'wcmc_logo.png'%>
	<div>
</div>
</body>
</html>
